/* 

Void        #0e0b16
Fuschia     #a239ca
Jewel       #4717f6
Stark       #e7dfdd

*/

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #efdfdd;
    font-size: 15.2061px;
    width: auto;
    transition: ease-in-out 0.3s;
}


body {
    margin:auto;
    background-color: #0e0b16;
    color: white;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

nav {
    display: block;
}

.barra-navegacao{
    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 4;
    border-bottom: solid 1px rgba(71,23,246,0.9);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-centro{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 15% 0 15%;
}

.logo { 
    width: 50%;
    
}

.itens-barra{
    width:50%;
    justify-content: space-between;
}

.itens-barra:hover{
    color: #a230ca;
}


/*fim da barra de navegação e começo do início*/

.inicio{
    background-image: #0e0b16;
    width:100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.centralizador-inicio{
    display: flex;
    margin: 0 15% 0 15%;
    width: 100%;
    height:100vh;
    align-items: center;
}

.texto{
    width:50%;
    justify-content:space-around;
    align-items:center;
}

.intro-botoes{
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.botao-linkedin:hover, .botao-github:hover,
.descricao-botao-curriculo:hover,
.descricao-botao-email:hover{
    background-color: rgb(34, 32, 42, 1);
    text-shadow: 1px 1px 3px #4717f6;
}

.botao-github, .botao-linkedin{
    display: flex;
    align-items: center;
    padding: 3px 5px 5px 0px;
    width: 140px;
    border-radius: 8px;
    position: relative;
    background-color: #121212;
    margin: 2%;
    transition: 0.3s;
    font-weight: 100;
    letter-spacing: 1.5px;
    height: 40px;  
    justify-content: space-evenly; 
}

.botao-github::before, .descricao-botao-curriculo::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 9px;
    background: linear-gradient(
                    -45deg,
                    #4717f6,
                    #a230ca
    );
    background-size: 500%;
    animation: wave infinite forwards 3s;
    background-clip: border-box;
}

@keyframes wave {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}

.eu{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: calc(100% - 630px);
}

@keyframes euAnimado {
    from {
        top:-15px;
    }
    to {
        top: 25px;
    }
}

.desenho {
    position:relative;
    animation: euAnimado 2.1s infinite alternate-reverse linear;
    justify-content: space-around;
    transform: scale(1.2)
}

.nome-typewriter{
    font-size: 30px;
    color: #a230ca;
}

h1, h2{
    color: #e7dfdd;
}

.nome-typewriter::after{
    content: '|';
    color: rgba(71,23,246,0.9);
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
    
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.hamburguer {
    display: none;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 5%;
    position: absolute;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.botoes-mobile{
    display: none;
}

.intro-botoes img{
    width: 22px;
}
.nav-menu a:hover{
    color: #a230ca;
}

.sobre-mim {
    display: flex;
    justify-content: space-around;
    background-color: #22202a;
    z-index: 0;
    position: relative;
    padding: 6.5% 15%;
    min-height: 35vh;
}

.descricao-botao-email img {
    width: 22px;
}

.descricao {
    line-height: 1.5rem;
    width: 70%;
    text-align: center;
}

.sobre-mim h2 {
    margin-bottom: 1rem;
}

.descricao-botoes {
    margin: auto;
}

.foto {
    min-width: 30%;    
    margin: auto;

}

.foto img {
    filter: opacity(55%);
    transition: 0.4s;
    width: 80%;
    
}

.foto img:hover {
    filter: opacity(70%);
}

section h1 {
    margin-bottom: 2rem;
}

.descricao-botoes {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.descricao-botao-curriculo,
.descricao-botao-email{
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 140px;
    border-radius: 8px;
    position: relative;
    background-color: #121212;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 40px;
}

.descricao-botao-email::before, .botao-linkedin::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 9px;
    background: linear-gradient(
                    -45deg,
                    #a230ca,
                    #4717f6
                    
    );
    background-size: 400%;
    animation: wave infinite forwards 3s;
}
















@media (max-width: 991px){

   .hamburguer{
        display: block;
        position: fixed;
        z-index: 999;
   }
   .hamburguer.active .bar:nth-child(2){
        opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
   }
   .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
   }

   .barra-navegacao{
        Top: -120%;
        transition: all .3s ease-in-out;
        height: 100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .itens-barra{
        width:100%;
        justify-content: space-around;
        margin-top: 10%;
        align-items: center;
    }

    .logo{
        display: flex;
        justify-content: center;
        padding-right: 10px;
        transform: scale(1.2);
        margin-top: 100%;
        transition: all .3s ease-in-out;
    }

   .barra-navegacao.active{
        Top: 0%;
   }
   
   .menu-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;   
   }

   .nav-menu{
        display: block;
        text-align: center;
        align-items: center;
        padding: 0;
   }

   .nav-menu a:hover{
        color: #a230ca;
   }

   nav ul li {
        display: block;
        margin: 20px 0px;
   } 

   a {
        font-size: 20px;
        transition: ease-in-out 0.3s;
   }

   .altura{ 
        justify-content: space-around;
        align-items:center;
   }

   .centralizador-inicio{
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
        margin-bottom: auto;
        height:auto;
   }

   .eu{
        transform: scale(0.8);
        margin-left: 20px;
   }

   .texto{
        align-items:center;
        width:330px;
        text-align: center;
        margin-right: 25px;
    }

    .nome-typewriter{
        font-size: 20px;
    }

    .intro-botoes{
        display: flex;
        width: 320px;
        justify-content: space-between;
    }

    .sobre-mim {
        display: block;
        justify-content: space-around;
        background-color: #22202a;
        z-index: 0;
        position: relative;
        padding: 6.5% 15%;
        min-height: 35vh;
    }

    .foto {
        width: 70%;
        margin-left:33%;
    }
    
    .foto img {
        filter: opacity(55%);
        transition: 0.4s;
        width: 50%;
        
    }

    .descricao {
        line-height: 1.5rem;
        width: 100%;
    }

}






/* projetos futuros */

#projetos {
    background-color: #0e0b16;
    z-index: -1;
}

.projetos {
    padding-top: 100px;
    padding-bottom: 100px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

.botao-ver-mais {
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 140px;
    border-radius: 8px;
    position: absolute;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 40px;
    z-index: 2;
    background-color: #121212;
    color:#e7dfdd;
    border-width: 3px;
    border-color: #4717f6;
    cursor: pointer;
}

.botao-ver-mais:hover {
    background-color: rgb(34, 32, 42, 1);
}

.ver-mais {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    color:#e7dfdd;
    position: relative;
}

.adicional {
    opacity: 0;
    display: none;
    transition: 1000ms;
    
}

.projetos a {
    display: inline;
}
/* place-itens: center; */
.projeto-qualquer {
    height: 195px;
    width: 310px;
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    padding: 3px 3px 3px;
    position: relative;
    z-index: 2;
    background: linear-gradient(
                        -45deg,
                        #a230ca,
                        #4717f6        
    );
    background-size: 400%;
    animation: wave infinite forwards 3s;
}

.projeto-qualquer::before{
    background-color: #e7dfdd;
    height: 195px;
    width: 310px;
    content: "";
    position: absolute;
    z-index: 1;
    border-radius: 8px;
}

.projeto-qualquer div p {
    font-size: 20px;
    color: #e7dfdd;
}

.projeto-qualquer div {
    background-color: #a230ca;
    width: 1000px;
    text-align: center;
    z-index: 1;
}

.todos-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    height: 40vh;
    margin: auto;
    justify-content: center;
}























/*habilidades*/

.todas-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    justify-content: center;
}


#habilidades {
    background-color: #22202a;
    z-index: -1;
}

#habilidades h2 {
    padding-bottom: 30px;
    padding-top: 100px;
    text-align: center;
}

.habilidades-centralizador {
    display: flex;
    margin-right: 0;
}

.habilidades-centralizador a {
    display: inline;
}

.habilidades-centro {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin: auto 0;
    padding-top: 35px;
    padding-bottom: 93px; 
}


.habilidade {
    height: 106px;
    width: 106px;
    background-color: #e7dfdd;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
   
}

.habilidade::before{
    background-color: #e7dfdd;
    height: 106px;
    width: 106px;
    content: "";
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    background: linear-gradient(
                    -45deg,
                    #a230ca,
                    #4717f6        
    );
    background-size: 400%;
    animation: wave infinite forwards 3s;
    transition: 0.3s;
}

.habilidade div p {
    font-size: 20px;
    color: #e7dfdd;
}

.habilidade:hover {
    filter: grayscale(0%);
}



.icones-habilidades{
    height: 100px;
    position:absolute;
    width: 100px;
    z-index: 1;
    filter: grayscale(80%);
    background-color: #e7dfdd;
    transform: scale(0.9);
    transition: all  0.3s;
    border-radius: 8px;
}

.icones-habilidades:hover{
    filter: grayscale(0%);
    transform: scale(1);
}










#contato{
    height: 100vh;
    background-color: #0e0b16;
}



/* transições */

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    transform: translateX(-50%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.projeto-qualquer:nth-child(0), .todas-habilidades:nth-child(0){
    transition-delay: 1000ms;
}

.projeto-qualquer:nth-child(1), .todas-habilidades:nth-child(1){
    transition-delay: 400ms;
}

.todos-projetos:nth-child(2), .todas-habilidades:nth-child(2){
    transition-delay: 600ms;
}