ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #efdfdd;
    font-size: 15.2061px;
    width: auto;
    transition: ease-in-out 0.3s;
}

a:hover {
    color: #a230ca;
   }

body {
    margin:auto;
    background-color: #0e0b16;
    color: white;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

nav {
    display: block;
}

.barra_navegacao{
    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(71,23,246,0.9);
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu_centro{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo { 
    width: 50%;
    padding-left: 10%;
}

.itens_barra{
    width:50%;
    justify-content: space-between;
}


/*fim da barra de navegação e começo do início*/

.inicio{
    background-image: #0e0b16;
    width:100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;

}

.altura{
    width:100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;

}

.centralizador_inicio{
    width: 90%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height:auto;
    align-items: center;
    justify-content: space-around;
}

.texto{
    width:50%;
    justify-content:space-around;
    align-items:center;
    padding-left: 5%;
}

.intro_botoes{
    width: 100%;
    height: auto;
    flex-wrap:wrap;
    display:flex;
    border-width: 10px;
}

.botao_linkedin{
    width: 200px;
    height: 60px;
    background: #22202a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
    font-size:25px;
    border-width: 50px;
    color: #a230ca
}

.botao_linkedin:hover{
    letter-spacing: 5px;
    color: #a230ca;  
    background-color: #0e0b16;
    -webkit-box-shadow:0px 0px 10px 10px rgba(71,23,246,0.9);
    -moz-box-shadow: 0px 0px 10px 10px rgba(71,23,246,0.9);
    box-shadow: 0px 0px 10px 10px rgba(71,23,246,0.9);
    transform: scale(1.1);
}

.botao_github{
    width: 200px;
    height: 60px;
    background: #22202a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
    border-width: 50px;
    margin-left: 20px;
    font-size:25px;
    color: #a230ca
}

.botao_github:hover{
    letter-spacing: 5px;
    color: #a230ca;  
    background-color: #0e0b16;
    -webkit-box-shadow:0px 0px 10px 10px rgba(71,23,246,0.9);
    -moz-box-shadow: 0px 0px 10px 10px rgba(71,23,246,0.9);
    box-shadow: 0px 0px 10px 10px rgba(71,23,246,0.9);
    transform: scale(1.1);
}

.eu{
    margin-top: auto;
    margin-bottom: auto;
    
}

@keyframes euAnimado {
    from {
        top:-15px;
    }
    to {
        top: 25px;
    }
}

.desenho {
    position:relative;
    animation: euAnimado 2.1s infinite alternate-reverse linear;
    justify-content: space-around;
    transform: scale(1.2)
}


.nome_typewriter{
    font-size: 30px;
    color: #a230ca;
}

h1, h2{
    color: #e7dfdd;
     /*-webkit-text-stroke: 0.5px #4717f6;*/
      text-stroke: 1px #4717f6F;
}

.nome_typewriter::after{
    content: '|';
    color: rgba(71,23,246,0.9);
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.hamburguer {
    display: none;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 5%;
    position: absolute;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.botoes-mobile{
    display: none;
}


@media (max-width: 991px){

   .intro_botoes{
    display: none;
   } 

   .hamburguer{
    display: block;
    position: fixed;
    z-index: 999;
   }
   .hamburguer.active .bar:nth-child(2){
    opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   .hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .barra_navegacao{
        Top: -120%;
        transition: all .3s ease-in-out;
        height: 100vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .itens_barra{
        width:100%;
        justify-content: space-around;
        margin-top: 10%;
        align-items: center;
    }

    .menu_centro{
        position: absolute;   
    }

    .logo{
        display: flex;
        justify-content: center;
        padding-right: 10px;
        transform: scale(1.2);
        margin-top: 100%;
        transition: all .3s ease-in-out;
    }

   .barra_navegacao.active{
        Top: 0%;
   }
   
   .menu_centro{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .nav-menu{
    display: block;
    text-align: center;
    align-items: center;
    padding: 0;
   }

   nav ul li {
    display: block;
    margin: 20px 0px;
   } 

   a {
    font-size: 30px;
    transition: ease-in-out 0.3s;
   }

   .inicio{

   }

   .altura{ 
        justify-content: space-around;
        align-items:center;
   }

   .centralizador_inicio{
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
        margin-bottom: auto;
        height:auto;
   }

   .eu{
        transform: scale(0.8);
        margin-left: 20px;
   }

   .texto{
        align-items:center;
        width:330px;
        text-align: center;
        margin-right: 25px;
    }

    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .nome_typewriter{
        font-size: 20px;
    }

    .botoes-mobile{
        display: flex;
        text-size: ;
    }

    .botao-mobile-linkedin{
        display: flex;
        justify-content: space-evenly;
        width: 48%;
        height: 60px;
        background: #22202a;
        align-items: center;
        border-radius: 50px 0px 0px 50px;
        transition: ease-in-out 0.3s;
        font-size:20px;
        border-width: 50px;
        color: #a230ca;
        margin-right: 2%;
    }

    .botao-mobile-github{
        display: flex;
        margin-left: 2%;
        justify-content: space-evenly;
        width: 48%;
        height: 60px;
        background: #22202a;
        align-items: center;
        border-radius: 0px 50px 50px 0px;
        transition: ease-in-out 0.3s;
        font-size:20px;
        border-width: 50px;
        color: #a230ca;
    }

    .botao-mobile-github:hover{
        letter-spacing: 3px;
        color: #a230ca;  
        background-color: #0e0b16;
        transition: ease-in-out 0.3s;
        -webkit-box-shadow:0px 0px 20px 4px rgba(71,23,246,1);
        -moz-box-shadow: 0px 0px 20px 4px rgba(71,23,246,1);
        box-shadow: 0px 0px 20px 14px rgba(71,23,246,1);   
    }
    .botao-mobile-linkedin:hover{
        letter-spacing: 3px;
        color: #a230ca;  
        background-color: #0e0b16;
        transition: ease-in-out 0.3s;
        -webkit-box-shadow:0px 0px 20px 4px rgba(71,23,246,1);
        -moz-box-shadow: 0px 0px 20px 4px rgba(71,23,246,1);
        box-shadow: 0px 0px 20px 14px rgba(71,23,246,1);   
    }
}

/* fim da seção inicial, começo da apresentação*/

.sobre-mim{
    background: rgba(196, 196, 196, 0.11);
    height: 100vh;
    width: 100%;
    display: flex;
    border-bottom: solid 1px rgba(71,23,246,0.9);
    border-top: solid 1px rgba(71,23,246,0.9);
    z-index: 0;
}

.centralizador{
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
}

